@model List<PMS.Entities.ProductDTO>

@{
    ViewBag.Title = "ShowAll";
    Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}

@section scripts{

    <script>
        $(function () {
            $(".editbutton").click(function () {
                var pid = $(this).attr("pid");
                $("#ProductID").val(pid);
            });
        });
    </script>

}


<h2>ShowAll</h2>

<a href="/Product/New">New </a> <br />

<span>@TempData["Msg"]</span>

<form action="/Product/Edit2" method="post">
    <input type="hidden" name="ProductID" id="ProductID" />
    @*<table>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.CreatedOn</td>
                <td>@item.CreatedBy</td>
                <td><img src="/UploadedFiles/@item.PictureName" style="width:100px;height:100px;" /></td>

                @if (WebPrac.Security.SessionManager.User.IsAdmin)
                {

                    <td><a href="/Product/Edit/@item.ProductID">Edit</a></td>
                    <td><a href="/Product/Delete/@item.ProductID">Delete</a></td>

                    <td><input type="submit" value="Edit" class="editbutton" pid="@item.ProductID" /> </td>
                }
            </tr>
        }
    </table>*@


    <div>
        @foreach (var item in Model)
        {
            <div class="prodbox">
                <div style="float:left">
                    <img src="/UploadedFiles/@item.PictureName" style="width:100px;height:100px;" />
                </div>
                <div style="float:left">
                    Product Id: @item.ProductID <br />
                    Name: @item.Name <br />
                    Price: @item.Price <br />
                    Created On @item.CreatedOn <b>By</b> @item.CreatedBy
                </div>
                <div style="clear:both">
                    @if (WebPrac.Security.SessionManager.User.IsAdmin)
                    {
                        <a href="/Product/Edit/@item.ProductID">Edit</a>
                        <a href="/Product/Delete/@item.ProductID">Delete</a>
                        <input type="submit" value="Edit" class="editbutton" pid="@item.ProductID" />
                    }
                </div>
                <div class="commentarea">
                    <textarea class="txtComment" rows="1" cols="50"></textarea>
                    <button id="txtComment" value="Add">Add</button>
                </div>
                <br />
                <div class="comments">

                    @foreach (var comment in item.Comments)
                    {
                        <div class="comment">
                            <div class="picture">
                                <img src='@Url.Content("~/UploadedFiles/" + comment.PictureName)' />
                            </div>
                            <div>
                                <span class="name">@comment.UserName</span>
                                <span class="comment-text">@comment.CommentText</span> <br />
                                <span class="comment-text">@comment.CommentOn</span>

                            </div>
                        </div>
                        <br />
                        <div style="clear:both"></div>
                    }
                </div>
            </div>
        }
    </div>
</form>

